.main_homepage_body {
  height: 100vh;
}

.login_span {
  font-size: 13px;
}

.social {
  color: #000;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

.login_button {
  border-radius: 20px;
  background-color: mediumblue;
  color: #ffffff;
  font-size: 0.9rem;
  font-weight: bold;
  padding: 17px 45px;
  margin-top: 10px;
  text-transform: uppercase;
}

.login_button:active {
  transform: scale(0.95);
}

.login_button:focus {
  outline: none;
}

.login_button.ghost {
  background-color: transparent;
  border-color: #ffffff;
}

.login_form {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

.login_form input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

.login_spinner {
  font-size: 20px;
  width: 2.5rem;
  height: 2.5rem;
  margin-left: 10px;
}

.login_container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 60%;
  margin-top: 7%;
  height: max-content;
  min-height: 70vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: auto;
  margin-right: auto;
}

.form_container {
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.sign_in_container {
  left: 0;
  width: 100%;
  z-index: 0;
}

.sign_up_container {
  left: 0;
  width: 100%;
  opacity: 1;
}

.social_container {
  margin: 20px 0;
}

.social_container a {
  border: 1px solid #dddddd;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 40px;
  width: 40px;
}

.overlay_container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 0;
}

.overlay {
  background: rgb(63, 81, 181);
  background: linear-gradient(
    180deg,
    rgba(63, 81, 181, 1) 0%,
    rgba(33, 150, 243, 1) 65%,
    rgba(20, 215, 255, 1) 100%
  );

  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #ffffff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay_panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay_left {
  transform: translateX(-20%);
}

.container.right_panel_active .overlay_left {
  transform: translateX(0);
}

.overlay_right {
  right: 0;
  transform: translateX(0);
}

.container.right_panel_active .overlay_right {
  transform: translateX(20%);
}
