.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.ReactModal__Overlay--after-open {
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.1) !important;
}

/* Toggle B */
#audius:checked ~ .dot {
  transform: translateX(100%);
  background-image: linear-gradient(45deg, #270c86 0%, #d001d1 100%);
}

#darkMode:checked ~ .dot {
  transform: translateX(100%);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#tracks-section {
  background-image: linear-gradient(
    90deg,
    #06172000 10%,
    rgba(28, 222, 244, 0.212) 50%,
    #06172000 90%
  );
}

#store-section {
  background-image: linear-gradient(
    0deg,
    rgb(28, 244, 161) 10%,
    rgba(28, 222, 244, 0.986) 50%,
    rgb(28, 222, 244) 90%
  );
}
/*FROM THE VIDEO SECTION*/
.slider-left,
.slider-right {
  width: 18%;
  opacity: 0;
  cursor: pointer;
}

.slider-single-content {
  box-shadow: 0px 8px 15px 0px rgba(131, 131, 131, 0.1) !important;
  -webkit-box-shadow: 0px 8px 15px 0px rgba(131, 131, 131, 0.1) !important;
  -moz-box-shadow: 0px 8px 15px 0px rgba(131, 131, 131, 0.1) !important;
}

/*------------------------ Sidebar ----------------------------*/

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
/* .bm-menu {
  background: rgb(63, 81, 181);
  background: linear-gradient(
    180deg,
    rgba(63, 81, 181, 1) 0%,
    rgba(33, 150, 243, 1) 65%,
    rgba(20, 215, 255, 1) 100%
  ) !important;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
} */

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

/*::-webkit-scrollbar{
  width: 15px;
  border-radius: 20px;
}

::-webkit-scrollbar-track{
  background: #E1FAFF;
  border-radius: 20px;
}
::-webkit-scrollbar-thumb{
  width: 24px;
  background: #00d3ff;
  border: 5px solid #CCEEF4;
  border-radius: 15px;
}*/

::-webkit-scrollbar {
  width: 6px;
  height: 6px;

  border-radius: 2px;
}

::-webkit-scrollbar-track {
  background-color: rgb(12, 12, 12);

  border-left: 2px solid rgb(12, 12, 12);
  border-right: 2px solid rgb(12, 12, 12);
}

::-webkit-scrollbar-thumb {
  background: #1c1c1c;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
.ReactModal__Body--open {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
}