@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy-Regular'), url(./assets/fonts/Gilroy-Font/Gilroy-Regular.woff) format('woff');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

@font-face {
  font-family: 'Gilroy-Bold';
  src: local('Gilroy-Bold'), url(./assets/fonts/Gilroy-Font/Gilroy-Bold.woff) format('woff');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

html {
  overflow-x: hidden;
  font-family: 'Gilroy', Arial, serif;
}

p {
  font-family: 'Gilroy', Arial, serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Gilroy-Bold', Arial, serif;
}

@media only screen and (max-width: 640px) {
  body {
    overflow-x: hidden;
  }
}

.MuiContainer-root {
  padding: 0 !important;
}

.sc-bwzfXH .bhRnqO {
  top: calc(30% - 17.5px) !important;
}

.close-thik:after {
  content: '✖'; /* UTF-8 symbol */
}

/* Toggle B */
input:checked ~ .dot {
  transform: translateX(100%);
  background-color: #00d3ff;
}

.rdrDefinedRangesWrapper {
  font-size: 12px;
  width: 226px;
  border-right: solid 1px #eff2f7;
  background: #f00;
}
