@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Proxima';
  src: local('Proxima'), url(./assets/fonts/reg/ProximaNova-Regular.otf) format('otf');
}

@font-face {
  font-family: 'GTWalsheimPro';
  src: local('GTWalsheimPro'), url(./assets/fonts/font/GTWalsheimPro-Regular.ttf) format('ttf');
}

html {
  overflow-x: hidden;
}

@media only screen and (max-width: 640px) {
  body {
    overflow-x: hidden;
  }
}

.MuiContainer-root {
  padding: 0 !important;
}

.sc-bwzfXH .bhRnqO {
  top: calc(30% - 17.5px) !important;
}

.close-thik:after {
  content: '✖'; /* UTF-8 symbol */
}

/* Toggle B */
input:checked ~ .dot {
  transform: translateX(100%);
  background-color: #00d3ff;
}
