/* TOGGLER */
.toggle {
  height: 35px;
  width: 70px;
  border-radius: 50px;
  margin: auto;
  background-image: linear-gradient(aqua, skyblue);
  position: relative;
  cursor: pointer;
}

@media screen and (min-width: 1024px) {
  .toggle {
    height: 27px;
    width: 60px;
  }
}

.toggle.night {
  background-image: linear-gradient(60deg, rgb(27, 27, 27), rgb(50, 50, 50));
}

.notch {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: rgb(255, 208, 0);
  position: absolute;
  top: 2px;
  left: 3px;

  box-shadow: 0 0 5px yellow;
  z-index: 1;
  transition: all 0.3s ease;
}

@media screen and (min-width: 1024px) {
  .notch {
    height: 23px;
    width: 23px;
    left: 1px;
  }
}

.notch > .crater {
  background: burlywood;
  border-radius: 50%;
  position: absolute;
  opacity: 0;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4) inset;
}
.night .crater {
  opacity: 0.4;
}

.crater:first-child {
  left: 2px;
  top: 7px;
  height: 5px;
  width: 12px;
  transform: rotate(-45deg);
}

.crater:last-child {
  right: 2px;
  top: 7px;
  height: 5px;
  width: 10px;
  transform: rotate(45deg);
}

.night > .notch {
  background: whitesmoke;
  box-shadow: 0 0 5px whitesmoke;
  transform: translate(35px, 0);
}

.shape {
  position: absolute;
  background: whitesmoke;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.shape.sm {
  height: 3px;
  width: 10px;
  top: 50%;
  left: 60%;
}

.shape.md {
  height: 5px;
  width: 15px;
  top: 25%;
  left: 25%;
  z-index: 2;
}

.shape.lg {
  height: 8px;
  width: 30px;
  top: 60%;
  bottom: 20px;
  left: 25%;
}

.night .shape {
  background: lightgray;
  box-shadow: 0 0 2px 1px rgb(171, 211, 212);
}

.night .shape.sm {
  height: 3px;
  width: 3px;
  transform: translate(-12px, -5px);
}

.night .shape.sm:first-of-type {
  height: 1px;
  width: 1px;
  transform: translate(-20px, -10px);
}

.night .shape.md {
  height: 2px;
  width: 2px;
  transform: translate(-10px, 0);
}

.night .shape.lg {
  height: 2px;
  width: 2px;
  transform: translate(-2px, 0);
}
